/********************************************/
/*              Theme colors                */
/********************************************/
.green {
  color: #90AB27;
}
.bg-green {
  background-color: #90AB27;
}
/********************************************/
/*               Layouts                    */
/********************************************/
html {
  position: relative;
  min-height: 100%;
}
html *::selection {
  background-color: #90AB27;
  color: white;
}
html body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
@media (min-width: 991px) {
  html body {
    margin-bottom: 230px;
  }
}
@media (min-width: 1200px) {
  html body {
    margin-bottom: 230px;
  }
}
html body header {
  z-index: 1000;
  width: 100%;
  border-bottom: 2px solid #f8f8f8;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
@media (max-width: 767px) {
  html body header {
    height: 70px;
  }
}
@media (min-width: 768px) {
  html body header {
    height: 100px;
  }
}
html body header div.container {
  max-width: 1168px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
html body header div.container div.yamm .responsive_nav_container .navbar-brand {
  float: left;
  display: table-cell;
  vertical-align: middle;
  max-width: 300px;
}
@media (max-width: 767px) {
  html body header div.container div.yamm .responsive_nav_container .navbar-brand {
    padding: 5px 0 0 0;
  }
  html body header div.container div.yamm .responsive_nav_container .navbar-brand > img {
    height: 50px;
  }
}
@media (min-width: 768px) {
  html body header div.container div.yamm .responsive_nav_container .navbar-brand {
    padding: 10px 0 0 0;
  }
  html body header div.container div.yamm .responsive_nav_container .navbar-brand > img {
    height: 80px;
  }
}
html body header div.container div.yamm .responsive_nav_container #navigator {
  width: 40px;
  height: 40px;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #000;
  box-shadow: none;
}
@media (max-width: 767px) {
  html body header div.container div.yamm .responsive_nav_container #navigator {
    display: block;
    margin-top: 20px;
    color: #90AB27;
  }
}
@media (min-width: 768px) {
  html body header div.container div.yamm .responsive_nav_container #navigator {
    display: none;
  }
}
html body header div.container div.yamm .nav.navbar-nav {
  float: right;
  vertical-align: middle;
  padding-left: 30px;
}
html body header div.container div.yamm .nav.navbar-nav > li {
  width: 110px;
  text-align: center;
}
html body header div.container div.yamm .nav.navbar-nav > li > a {
  font-size: 20px;
  font-family: 'chewy', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  padding: 40px 20px 0 20px;
  border: none;
  z-index: 1;
  height: 100px;
}
html body header div.container div.yamm .nav.navbar-nav > li > a:focus {
  background-color: transparent;
  border-color: #FFF;
  text-decoration: none;
}
html body header div.container div.yamm .nav.navbar-nav > li > a.active {
  border-bottom: 8px solid #90AB27;
}
html body header div.container div.yamm .nav.navbar-nav > li > a:hover {
  background-color: #7C1C70;
  color: white;
}
html body header:after {
  clear: both;
}
@media (max-width: 767px) {
  html body .main {
    padding-top: 70px;
  }
}
@media (min-width: 768px) {
  html body .main {
    padding-top: 100px;
  }
}
html body .main .banner.description {
  height: 100%;
  width: 100%;
  color: #FFF;
  padding: 50px 0 75px 0;
  margin-bottom: 30px;
  background: #90ab27 url('/client-side/images/countryside-146807_1280.png') no-repeat center bottom;
}
html body .main .banner.description .container.inner {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
html body .main .banner.description .container.inner > *::selection {
  background: #444d58;
  color: #fff;
}
html body .main .banner.description .container.inner h1 {
  font-size: 52px;
  font-family: 'chewy', sans-serif;
  line-height: 130%;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0.05em 0.5em #000000;
}
html body .main .banner.description .container.inner p {
  color: #FFF;
  margin: 0 auto;
  max-width: 800px;
  font-size: 22px;
  line-height: 34px;
  font-family: 'chewy', sans-serif;
  text-shadow: 0 0.05em 0.8em #000000;
}
html body footer {
  background: #3b434c;
  color: #a2abb7;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 25px;
}
html body footer > .container {
  padding: 17px 0;
}
html body footer .pre-footer {
  background: #48525e;
  color: #a2abb7;
  padding: 30px 0;
  clear: both;
}
@media (max-width: 991px) {
  html body footer .pre-footer {
    display: none;
  }
}
html body footer .pre-footer h2 {
  color: #4db3a4;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
html body footer .pre-footer p,
html body footer .pre-footer address {
  margin: 0;
}
html body footer .pre-footer .subscribe-form {
  padding-top: 5px;
}
html body footer .pre-footer .social-icons {
  padding-top: 9px;
  padding: 0;
  margin: 0;
}
html body footer .pre-footer .social-icons:before,
html body footer .pre-footer .social-icons:after {
  content: " ";
  display: table;
}
html body footer .pre-footer .social-icons li {
  opacity: 0.35;
  filter: alpha(opacity=35);
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}
html body footer .pre-footer .social-icons li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
  color: #5b9bd1;
}
html body footer .scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  right: 20px;
}
html body footer .scroll-to-top:hover {
  cursor: pointer;
}
html body footer .scroll-to-top > i {
  display: inline-block;
  color: #657383;
  font-size: 32px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/********************************************/
/*               Controls                   */
/********************************************/
.info-zone {
  padding: 15px;
}
@media (max-width: 991px) {
  .info-zone {
    margin-top: 10px;
  }
}
.input-group .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-gutter-left > [class*='col-'] {
  padding-left: 0;
}
.no-gutter-right > [class*='col-'] {
  padding-right: 0;
}
/*# sourceMappingURL=import.css.map */