/********************************************/
/*              Theme colors                */
/********************************************/
.green {
  color: #90AB27;
}
.bg-green {
  background-color: #90AB27;
}
/********************************************/
/*               Layouts                    */
/********************************************/
html {
  position: relative;
  min-height: 100%;
}
@media (min-width: 991px) {
  html body {
    margin-bottom: 230px;
  }
}
@media (min-width: 1200px) {
  html body {
    margin-bottom: 230px;
  }
}
@media (max-width: 991px) {
  html body header {
    padding: 0;
    clear: both;
    height: auto;
  }
}
html body header:after {
  clear: both;
}
@media (max-width: 991px) {
  html body header .page-header-top {
    height: auto;
  }
  html body header .page-header-top > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
}
html body header .page-header-top .page-logo {
  float: left;
  display: block;
  width: 255px;
  height: 75px;
}
@media (max-width: 991px) {
  html body header .page-header-top .page-logo {
    width: auto;
    padding: 0;
    margin-right: 10px;
    margin-left: 4px;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  html body header .page-header-top .page-logo {
    width: auto !important;
  }
}
html body header .page-header-top .top-menu {
  margin: 13px 0 0;
  padding: 0;
  float: right;
}
@media (max-width: 767px) {
  html body header .page-header-top .top-menu {
    display: block;
  }
  html body header .page-header-top .top-menu:before,
  html body header .page-header-top .top-menu:after {
    content: " ";
    display: table;
  }
}
html body header .page-header-top .top-menu ul.navbar-nav {
  padding: 0;
  margin-right: 0;
  display: block;
}
@media (max-width: 991px) {
  html body header .page-header-top .top-menu ul.navbar-nav {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  html body header .page-header-top .top-menu ul.navbar-nav > li {
    float: left;
  }
}
@media (max-width: 767px) {
  html body header .page-header-top .top-menu ul.navbar-nav {
    margin-right: 0px;
  }
}
html body header .page-header-top .top-menu ul.navbar-nav li.dropdown-dark {
  border: 0;
}
html body header .page-header-top .top-menu ul.navbar-nav li.dropdown-dark:before {
  border-left: none;
  border-right: none;
}
html body header .page-header-top .top-menu ul.navbar-nav li.dropdown-dark .dropdown-menu-list > li.external a {
  background: none !important;
  border: none !important;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown {
  margin: 0;
  padding: 0 4px;
  height: 50px;
  display: inline-block;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown:last-child {
  padding-right: 0;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle {
  margin: 0 0 0 1px;
  padding: 17px 10px 8px 10px;
}
@media (max-width: 767px) {
  html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle {
    padding: 17px 6px 8px 6px;
  }
  html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle > .badge {
    right: 18px;
  }
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle:last-child {
  padding-right: 0;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle > i {
  font-size: 19px;
  color: #c1ccd1;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle > i.glyphicon {
  font-size: 18px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown.dropdown-toggle > .badge {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 9px;
  right: 24px;
  font-weight: 300;
  padding: 3px 6px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown > .dropdown-menu {
  z-index: 9996;
  margin-top: 5px;
  margin-right: 7px;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown > .dropdown-menu:before {
  position: absolute;
  top: -8px;
  right: 9px;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #efefef;
  border-left: 8px solid transparent;
  content: '';
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown > .dropdown-menu::after {
  position: absolute;
  top: -7px;
  right: 10px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown .separator {
  border-left: 1px solid #e3e8ec;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-separator {
  padding-left: 0px;
  padding-right: 6px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-separator .separator {
  float: left;
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-left: 5px;
  margin-top: 17px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu {
  min-width: 160px;
  max-width: 300px;
  width: 300px;
  z-index: 9996;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
  display: block;
  overflow: hidden;
  padding: 15px 15px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 13px;
  display: inline-block;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
  display: inline-block;
  padding: 0;
  background: none;
  clear: inherit;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 10px;
  border: 0;
  margin-top: -2px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
  text-decoration: underline;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list {
  padding-right: 0 !important;
  padding-left: 0;
  list-style: none;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a {
  border-top: none;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a .details {
  overflow: hidden;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a .details .label-icon {
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a .details .label-icon i {
  margin-right: 2px;
  margin-left: 1px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a .details .label-icon .badge {
  right: 15px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a .details .label-icon .time {
  float: right;
  max-width: 75px;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.7;
  filter: alpha(opacity=70);
  text-align: right;
  padding: 1px 5px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 20px;
  white-space: normal;
  font-size: 13px;
  padding: 16px 15px 18px;
  text-shadow: none;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 12px 6px 7px 6px;
  padding-left: 0;
  padding-right: 0;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-toggle > img {
  margin-top: -8px;
  margin-right: 8px;
  height: 40px;
  float: left;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-toggle > .username {
  float: left;
  font-weight: 400;
  font-size: 14px;
  margin-top: 4px;
  margin-right: 2px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-toggle > i {
  float: left;
  font-size: 14px;
  margin-top: 7px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-menu {
  width: 210px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-menu > li > a {
  font-size: 14px;
  font-weight: 300;
  font-size: 13px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-menu > li > a i {
  width: 15px;
  display: inline-block;
  margin-right: 9px;
}
html body header .page-header-top .top-menu ul.navbar-nav > li.dropdown-user .dropdown-menu > li > a .badge {
  margin-right: 10px;
}
html body header .page-header-menu {
  display: block;
  height: 51px;
  clear: both;
  background: #444d58;
}
@media (min-width: 480px) {
  html body header .page-header-menu {
    display: none;
  }
}
@media (max-width: 991px) {
  html body header .page-header-menu {
    background: #eff3f8;
    padding: 20px 0 0 0;
    height: auto;
    display: none;
  }
  html body header .page-header-menu > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
  html body header .page-header-menu .hor-menu {
    float: none;
  }
  html body header .page-header-menu .hor-menu .navbar-nav {
    float: none;
  }
  html body header .page-header-menu .hor-menu .navbar-nav > li {
    float: none;
  }
  html body header .page-header-menu .hor-menu .navbar-nav > li > a {
    padding: 10px;
  }
  html body header .page-header-menu .hor-menu .navbar-nav > li > a .fa-angle-down {
    float: right;
  }
  html body header .page-header-menu .hor-menu .navbar-nav > li > a .fa-angle-down:before {
    content: "\f104";
  }
  html body header .page-header-menu .hor-menu .navbar-nav > li.open > a .fa-angle-down:before {
    content: "\f107";
  }
}
html body header .page-header-menu .hor-menu {
  margin: 0 0 0 -17px;
  margin: 0;
  float: left;
}
html body header .page-header-menu .hor-menu .navbar-nav {
  position: static;
}
html body header .page-header-menu .hor-menu .navbar-nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
html body header .page-header-menu .hor-menu .navbar-nav > li.open a {
  color: white;
  background: #55616f !important;
}
html body header .page-header-menu .hor-menu .navbar-nav > li > a {
  font-size: 14px;
  font-weight: normal;
  padding: 16px 18px 15px 18px;
  color: #bcc2cb;
}
html body header .page-header-menu .hor-menu .navbar-nav > li > a:focus {
  background: none !important;
}
html body header .page-header-menu .hor-menu .navbar-nav > li > a:hover {
  color: white;
  background: #55616f !important;
}
html body header .page-header-menu .hor-menu .navbar-nav > li > a > i {
  color: #bcc2cb;
}
html body header .page-header-menu .hor-menu .navbar-nav > li.current .selected,
html body header .page-header-menu .hor-menu .navbar-nav > li.active .selected {
  left: 50%;
  bottom: 0;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  display: inline-block;
  margin: 0;
  width: 0;
  height: 0px;
  margin-left: -7px;
  margin-bottom: -6px;
}
html body header .page-header-menu .hor-menu .navbar-nav > li.current > a,
html body header .page-header-menu .hor-menu .navbar-nav > li.active > a,
html body header .page-header-menu .hor-menu .navbar-nav > li.current a:hover,
html body header .page-header-menu .hor-menu .navbar-nav > li.active a:hover {
  color: #f1f1f1;
  background: #4e5966;
}
html body header .page-header-menu .hor-menu .navbar-nav > li.classic-menu-dropdown .dropdown-menu {
  min-width: 195px;
  max-width: 235px;
}
html body header .page-header-menu .search-form {
  position: relative;
  display: inline-block;
  float: right;
  width: 176px;
  transition: width 0.4s;
  margin-top: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #38414c;
}
@media (max-width: 991px) {
  html body header .page-header-menu .search-form {
    float: none !important;
    width: auto;
    margin: 0 0 20px 0;
  }
  html body header .page-header-menu .search-form.open {
    width: auto !important;
  }
}
html body header .page-header-menu .search-form .input-group {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #38414c;
}
html body header .page-header-menu .search-form .input-group .form-control {
  border: 0;
  font-size: 13px;
  padding-right: 20px;
  font-weight: 300;
  color: #616d7d;
  background: #38414c;
}
@media (max-width: 991px) {
  html body header .page-header-menu .search-form .input-group .form-control {
    height: 38px;
  }
  html body header .page-header-menu .search-form .input-group .form-control:hover {
    cursor: text;
  }
}
html body header .page-header-menu .search-form .input-group .form-control:hover {
  cursor: pointer;
}
html body header .page-header-menu .search-form .input-group .form-control::-moz-placeholder {
  color: #5f6a7a;
  opacity: 1;
}
html body header .page-header-menu .search-form .input-group .form-control :-ms-input-placeholder,
html body header .page-header-menu .search-form .input-group .form-control::-webkit-input-placeholder {
  color: #5f6a7a;
}
html body header .page-header-menu .search-form .input-group .input-group-btn .btn.submit {
  padding: 0;
  height: 34px;
  z-index: 3;
  position: relative;
  top: 8px;
  right: 11px;
}
@media (max-width: 991px) {
  html body header .page-header-menu .search-form .input-group .input-group-btn .btn.submit {
    height: 38px;
    width: 44px;
    top: 0;
    right: 0;
  }
  html body header .page-header-menu .search-form .input-group .input-group-btn .btn.submit i {
    position: relative;
    top: 13px;
  }
}
html body header .page-header-menu .search-form .input-group .input-group-btn .btn.submit > i {
  font-size: 15px;
  color: #616d7d;
}
html body header .page-header-menu .search-form.open {
  width: 300px !important;
  transition: width 0.4s;
}
html body header .page-header-menu .search-form.open .input-group .form-control {
  text-indent: 0;
}
html body header .page-header-menu .search-form.open .input-group .form-control:hover {
  cursor: text;
}
html body header .page-header-menu .search-form.open .input-group .input-group-btn .btn.submit {
  margin-left: 0;
}
html body .main .banner.description {
  height: 100%;
  background-color: #90AB27;
  width: 100%;
  color: #FFF;
  padding: 50px 0 75px 0;
  margin-bottom: 30px;
}
html body .main .banner.description .container.inner {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
html body .main .banner.description .container.inner > *::selection {
  background: #444d58;
  color: #fff;
}
html body .main .banner.description .container.inner h1 {
  font-size: 52px;
  font-family: 'BrandonGrotesque-Bold', sans-serif;
  line-height: 130%;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
}
html body .main .banner.description .container.inner p {
  color: #FFF;
  margin: 0 auto;
  max-width: 800px;
  font-size: 22px;
  line-height: 34px;
  font-family: 'BrandonGrotesque-Light', sans-serif;
}
html body footer {
  background: #3b434c;
  color: #a2abb7;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 25px;
}
html body footer > .container {
  padding: 17px 0;
}
html body footer .pre-footer {
  background: #48525e;
  color: #a2abb7;
  padding: 30px 0;
  clear: both;
}
@media (max-width: 991px) {
  html body footer .pre-footer {
    display: none;
  }
}
html body footer .pre-footer h2 {
  color: #4db3a4;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
html body footer .pre-footer p,
html body footer .pre-footer address {
  margin: 0;
}
html body footer .pre-footer .subscribe-form {
  padding-top: 5px;
}
html body footer .pre-footer .social-icons {
  padding-top: 9px;
  padding: 0;
  margin: 0;
}
html body footer .pre-footer .social-icons:before,
html body footer .pre-footer .social-icons:after {
  content: " ";
  display: table;
}
html body footer .pre-footer .social-icons li {
  opacity: 0.35;
  filter: alpha(opacity=35);
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}
html body footer .pre-footer .social-icons li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  text-shadow: none;
  color: #5b9bd1;
}
html body footer .scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  right: 20px;
}
html body footer .scroll-to-top:hover {
  cursor: pointer;
}
html body footer .scroll-to-top > i {
  display: inline-block;
  color: #657383;
  font-size: 32px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/********************************************/
/*               Controls                   */
/********************************************/
.info-zone {
  padding: 15px;
}
@media (max-width: 991px) {
  .info-zone {
    margin-top: 10px;
  }
}
.input-group .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-gutter-left > [class*='col-'] {
  padding-left: 0;
}
.no-gutter-right > [class*='col-'] {
  padding-right: 0;
}
/*# sourceMappingURL=import.css.map */