/********************************************/
/*              Theme colors                */
/********************************************/
.green {
    color: #90AB27;
}

.bg-green {
    background-color: #90AB27;
}

.shadow(@shadow: 0.5em,@color:#000){
    text-shadow: 0 .05em @shadow @color;
}

/********************************************/
/*               Layouts                    */
/********************************************/
html {
    position: relative;
    min-height: 100%;

    *::selection {
        .bg-green;
        color: white;
    }

    body {

        font-family: 'Open Sans', Arial, sans-serif;
        font-size:13px;
        font-weight: 400;

        @media (min-width: 991px) {
            margin-bottom: 230px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 230px;
        }


        header {
            z-index: 1000;
            width: 100%;
            border-bottom: 2px solid #f8f8f8;
            position: fixed;
            background-color: rgba(255,255,255,0.95);

            @media (max-width: 767px) {
                height: 70px;
            }

            @media (min-width: 768px) {
                height: 100px;
            }

            div.container {
                max-width: 1168px;
                margin: 0 auto;
                padding-right: 0;
                padding-left: 0;

                div.yamm {
                    .responsive_nav_container {
                        .navbar-brand {
                            float: left;
                            display: table-cell;
                            vertical-align: middle;
                            max-width: 300px;

                            @media (max-width: 767px) {
                                padding: 5px 0 0 0;

                                > img {
                                    height: 50px;
                                }
                            }

                            @media (min-width: 768px) {
                                padding: 10px 0 0 0;

                                > img {
                                    height: 80px;
                                }
                            }
                        }

                        #navigator {

                            @media (max-width: 767px) {
                                display: block;
                                margin-top: 20px;
                                .green;
                            }

                            @media (min-width: 768px) {
                                display: none;
                            }

                            width: 40px;
                            height: 40px;
                            font-size: 15px;
                            padding: 0;
                            margin: 0;
                            background-color: transparent;
                            color: #000;
                            box-shadow: none;
                        }
                    }

                    .nav.navbar-nav {
                        float: right;
                        vertical-align: middle;
                        padding-left: 30px;

                        > li {
                            width: 110px;
                            text-align: center;

                            > a {
                                font-size: 20px;
                                font-family: 'chewy', sans-serif;
                                line-height: 20px;
                                text-transform: uppercase;
                                color: #333;
                                padding: 40px 20px 0 20px;
                                border: none;
                                z-index: 1;
                                height: 100px;

                                &:focus {
                                    background-color: transparent;
                                    border-color: #FFF;
                                    text-decoration: none;
                                }

                                &.active {
                                    border-bottom: 8px solid #90AB27;
                                }

                                &:hover {
                                    background-color: #7C1C70;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            &:after {
                clear: both;
            }
        }

        .main {
            @media (max-width: 767px) {
                padding-top: 70px;
            }

            @media (min-width: 768px) {
                padding-top: 100px;
            }

            .banner.description {
                height: 100%;
                //.bg-green;
                width: 100%;
                color: #FFF;
                padding: 50px 0 75px 0;
                margin-bottom: 30px;
                background: #90AB27 url('/client-side/images/countryside-146807_1280.png') no-repeat center bottom;

                .container.inner {
                    width: 100%;
                    text-align: center;
                    padding-top: 15px;

                    > *::selection {
                        background: #444d58;
                        color: #fff;
                    }

                    h1 {
                        font-size: 52px;
                        font-family: 'chewy', sans-serif;
                        line-height: 130%;
                        margin-bottom: 25px;
                        color: #fff;
                        text-align: center;
                        .shadow();
                    }

                    p {
                        color: #FFF;
                        margin: 0 auto;
                        max-width: 800px;
                        font-size: 22px;
                        line-height: 34px;
                        font-family: 'chewy', sans-serif;
                        .shadow(0.8em);
                    }
                }
            }
        }

        footer {
            background: #3b434c;
            color: #a2abb7;
            font-size: 12px;
            font-weight: 300;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto;
            margin-top: 25px;

            > .container {
                padding: 17px 0;
            }

            .pre-footer {

                @media (max-width: 991px) {
                    display: none;
                }

                background: #48525e;
                color: #a2abb7;
                padding: 30px 0;
                clear: both;

                h2 {
                    color: #4db3a4;
                    font-weight: 700;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin: 0 0 12px;
                }

                p, address {
                    margin: 0;
                }

                .subscribe-form {
                    padding-top: 5px;
                }

                .social-icons {
                    padding-top: 9px;
                    padding: 0;
                    margin: 0;

                    &:before, &:after {
                        content: " ";
                        display: table;
                    }

                    li {
                        opacity: 0.35;
                        filter: alpha(opacity=35);
                        float: left;
                        display: inline;
                        list-style: none;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        text-indent: -9999px;

                        a {
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            -ms-border-radius: 2px;
                            -o-border-radius: 2px;
                            border-radius: 2px;
                            width: 28px;
                            height: 28px;
                            display: block;
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out;
                            text-shadow: none;
                            color: #5b9bd1;
                        }
                    }
                }
            }

            .scroll-to-top {
                padding: 2px;
                text-align: center;
                position: fixed;
                z-index: 10001;
                bottom: 5px;
                right: 20px;

                &:hover {
                    cursor: pointer;
                }

                > i {
                    display: inline-block;
                    color: #657383;
                    font-size: 32px;
                    opacity: 0.7;
                    filter: alpha(opacity=70);
                }
            }
        }
    }
}
/********************************************/
/*               Controls                   */
/********************************************/
.info-zone {
    padding: 15px;

    @media (max-width: 991px) {
        margin-top: 10px;
    }
}

.input-group {
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
}

.form-control {
    &:focus {
        border-color: #999;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.no-gutter-left > [class*='col-'] {
    padding-left: 0;
}

.no-gutter-right > [class*='col-'] {
    padding-right: 0;
}
