<div class="row">
    <div class="col-xs-12">

        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" ng-click="fileChanged($event)">
                    </span>
                </span>
                <input type="text" class="form-control" readonly="" data-ng-model="selectedFilename">
            </div>
        </form>

    </div>
</div>