<div class="row">
    <div class="col-md-3">
        <div class="meet-our-team">
            <h3>Bob Nilson <small>Chief Executive Officer / CEO</small></h3>
            <img src="http://dental-intelligence.com/wp-content/uploads/2011/08/maltsevbw.gif" alt="" class="img-responsive">
            <div class="team-info">
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="meet-our-team">
            <h3>Marta Doe <small>Project Manager</small></h3>
            <img src="http://www.hoag.org/Specialty/neurosciences/PublishingImages/Headache-2-Animation.jpg" alt="" class="img-responsive">
            <div class="team-info">
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="meet-our-team">
            <h3>Bob Nilson <small>Chief Executive Officer / CEO</small></h3>
            <img src="http://www.bizbuysell.com/shared/fd/images/2211%5COffice%20Evo3.jpg" alt="" class="img-responsive">
            <div class="team-info">
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="meet-our-team">
            <h3>Marta Doe <small>Project Manager</small></h3>
            <img src="http://4.bp.blogspot.com/_4qFaWkLEI5k/TRrKWliSLlI/AAAAAAAAAYc/ouSY7gX54j8/s1600/the-iron-giant-5.jpg" alt="" class="img-responsive">
            <div class="team-info">
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
                </p>
            </div>
        </div>
    </div>
</div>