<section class="banner description">
    <div class="container inner">
        <h1>{{ title }}</h1>
        <p>Pour en savoir plus sur nous et sur les services que nous offrons, lisez la suite :)</p>
    </div>
</section>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-xs-12">
            <h2 class="green"><i class="fa fa-search"></i> Trouvez</h2>
            <hr />
            <p class="text-justify">Trouvez le producteur le plus proche de chez vous. Vous manquez d'inspiration ? Consultez les produits de saison et les livrets de recettes !</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="quoi ? où ?">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2 class="green"><i class="fa fa-check"></i> Sélectionnez</h2>
            <hr />
            <p class="text-justify">Sélectionnez vos produits directement issues d'une production locale parmi les offres du moment renouvellées régulièrement.<br />Plus de 1000 produits dans le catalogue !</p>
            <p><a class="pull-right" href="/">> Découvrez tous les produits</a></p>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2 class="green"><i class="fa fa-truck"></i> Retirez</h2>
            <hr />
            <p class="text-justify">Retirez directement chez le producteur vos commandes ou convenez avec lui d'une date de livraison. <i>Il peut s'agir d'un point de rendez-vous si le producteur effectue plusieurs livraisons.</i></p>
        </div>
    </div>

    <div class="row">
        <h2>Les prochaines ventes</h2>
        <div class="col-md-4 col-xs-12">
            <div class="col-xs-6">
                <img class="img-responsive img-rounded" src="/client-side/images/cheese-159788_640.png" alt="" />
            </div>
            <p>
                Vente de fromage de chèvre / brebis
            </p>
        </div>
    </div>
</div>