<div class="row">
    <div class="col-xs-12 text-justify no-gutter-right">
        <h2>What about?</h2>
        <div class="pull-right col-md-3 col-sm-6 hidden-xs">
            <img class="img-responsive bg-danger img-circle" src="http://www.colxi.info/wp-content/uploads/2013/11/Debug-Bug-icon.png" />
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui arcu, tempus quis risus vel, luctus tristique quam. Donec ligula justo, placerat non justo eu, facilisis eleifend nisi. Quisque justo massa, faucibus nec accumsan id, porta eu enim. Nullam eget molestie nunc. Suspendisse elementum tortor ut arcu cursus malesuada. Sed nec odio ac justo vestibulum dignissim ac eget nibh. Ut vitae condimentum nibh. Nulla non massa dolor. Donec luctus dolor id ipsum volutpat maximus id gravida quam. Maecenas sit amet iaculis mauris. Morbi massa neque, iaculis vel aliquam at, accumsan cursus sem. In non erat ac leo placerat condimentum eget vitae tellus. Ut fringilla elit lacus, in tempus velit gravida ut. Sed lorem nulla, vehicula et turpis et, dapibus mattis risus. Vivamus maximus leo non libero maximus, eget molestie sapien porta. Suspendisse posuere ipsum vitae aliquet efficitur.
        </p>
        <p>
            Pellentesque scelerisque pulvinar vehicula. Pellentesque dignissim auctor nibh id viverra. Aenean imperdiet, ex in sagittis suscipit, eros felis auctor metus, id tincidunt enim justo eu ante. Morbi sit amet lectus porttitor, faucibus ipsum dignissim, fringilla elit. Aliquam non est et massa posuere posuere. Maecenas velit augue, maximus vitae eros sed, gravida molestie ante. Quisque et erat libero. Nam vitae tellus vel felis sollicitudin ultricies. Donec nec enim risus. Nulla facilisi.
        </p>
        <p>
            Aliquam vitae maximus tellus. Aenean non erat justo. Aenean quis tincidunt nisi. Aliquam auctor turpis elementum vestibulum lobortis. Fusce commodo, libero et tempor tristique, felis libero dapibus turpis, sit amet tincidunt quam magna a purus. Cras id sagittis lorem. Quisque et imperdiet neque.
        </p>
        <p>
            Morbi commodo interdum vulputate. Etiam dignissim dignissim gravida. Cras nec pharetra lorem. Phasellus commodo molestie risus ut vulputate. Integer vel accumsan risus. Duis dictum, metus in cursus lacinia, ante est molestie magna, eu pharetra massa nisl et dui. Aenean ac tristique purus.
        </p>
        <p>
            Nulla volutpat massa urna, sed pulvinar eros commodo ac. Nullam accumsan tortor quis lacinia accumsan. Donec at neque ipsum. Vestibulum aliquet efficitur pretium. Sed ex odio, feugiat vel arcu ac, interdum varius eros. Nunc condimentum leo vel venenatis laoreet. In ac nulla ac eros cursus fringilla nec a risus.
        </p>
        <p>
            Proin tortor ipsum, iaculis et nisl at, sollicitudin viverra quam. Suspendisse eget nunc viverra, ullamcorper ex id, condimentum purus. Vivamus tristique a dolor eget lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ante diam, condimentum vitae velit ut, sollicitudin malesuada elit. Sed metus dui, cursus ac odio id, dictum ultricies eros. Maecenas rutrum tincidunt lacus, et laoreet metus fringilla sed. Donec euismod, turpis ac molestie faucibus, erat lacus aliquam purus, ac mattis nibh risus eu nulla. Cras molestie dolor non elit sagittis bibendum. Ut nec mauris ut mi facilisis pulvinar. Integer sagittis, turpis euismod ultricies semper, sem libero efficitur elit, ac efficitur ex enim in ante. Mauris laoreet lectus a dignissim feugiat.
        </p>
    </div>
    <div class="col-xs-12 text-justify no-gutter-left">
        <h2>Who about?</h2>
        <div class="pull-left col-md-3 col-sm-6 hidden-xs">
            <img class="img-responsive bg-danger" src="http://www.colxi.info/wp-content/uploads/2013/11/Debug-Bug-icon.png" />
        </div>
        <p>
            Donec quis faucibus sem. Duis euismod magna ut dolor vulputate blandit. Maecenas sollicitudin vehicula semper. Nulla rutrum justo at vestibulum volutpat. Phasellus tempus, mi at convallis semper, urna quam semper risus, eget eleifend enim urna at velit. In venenatis ut felis sed fermentum. Nullam eget auctor ipsum. Etiam molestie ante at sem iaculis dictum. Suspendisse elementum vestibulum purus, in rutrum ante varius non. Donec vel nunc quis arcu tincidunt dignissim vel eu nulla. Aliquam fermentum lobortis tellus, at vulputate ligula facilisis quis.
        </p>
        <p>
            Nulla pulvinar augue non eros tincidunt feugiat. Integer ligula eros, consectetur vel commodo a, dictum non dui. Praesent id augue at risus sagittis rhoncus sit amet non purus. Integer sed eros a quam egestas ultrices sit amet vitae lorem. Integer mollis massa vel volutpat rutrum. Aliquam sed hendrerit orci. Aliquam pharetra ex in est commodo tempor. Duis finibus nec dolor nec semper. Nulla erat arcu, convallis eget arcu vitae, volutpat suscipit diam.
        </p>
        <p>
            Aliquam varius turpis nec urna lobortis eleifend. Curabitur fermentum id sapien in bibendum. Donec vel lacus eget felis laoreet venenatis. Suspendisse imperdiet auctor mi at fermentum. Fusce tristique varius justo non malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin posuere ac erat ut finibus. Fusce magna augue, fringilla varius erat et, tincidunt porttitor neque. Aliquam ut malesuada ipsum. Duis vitae risus justo. Donec vitae purus vehicula, finibus sapien at, lobortis ipsum. Maecenas ut sem convallis elit facilisis molestie vel nec diam. In auctor dui sapien, porta pretium sem faucibus in. Quisque purus dui, rhoncus non sodales sed, pharetra vitae sapien.
        </p>
        <p>
            Donec non magna sit amet nibh tristique rhoncus vitae ut sapien. Aenean eget felis gravida, rhoncus tortor a, eleifend turpis. Etiam a neque eget orci ullamcorper dapibus. Morbi sem erat, lacinia ac risus ac, feugiat iaculis ipsum. Curabitur tellus lacus, mattis ut luctus id, commodo vel ipsum. Mauris sit amet mauris a massa faucibus commodo. Aliquam mollis eget erat et interdum. Aenean laoreet ut lectus vel congue. Fusce nec pharetra mauris, sed vestibulum purus. Mauris eget neque non nulla euismod pharetra nec ut augue. Integer nec est metus.
        </p>
        <p>
            Sed viverra bibendum mauris, in molestie tortor aliquam ut. Donec tempor efficitur ante, sit amet mollis nisl elementum quis. Ut nec efficitur nisl, quis lacinia ligula. Integer blandit dolor risus, vel pretium neque eleifend eget. Pellentesque lacus sapien, auctor ut vestibulum ac, elementum ac sapien. Sed sit amet metus molestie, feugiat lectus eu, ultricies orci. Mauris porta nulla ac lectus faucibus mattis. Nullam tempor ultricies elit scelerisque venenatis. Sed ultricies ac ligula sit amet dignissim. Proin non leo nec ex ornare scelerisque ut vel est.
        </p>
        <p>
            Morbi pretium finibus tellus, eu vestibulum libero hendrerit a. Sed sit amet molestie est. Nunc sollicitudin nisi dolor, sit amet maximus nunc mattis efficitur. Vivamus vitae nibh dui. Mauris elementum ut ex eu vulputate. Aliquam lacinia porttitor ligula, ac fermentum arcu malesuada non. Duis sed nibh ante.
        </p>
        <h2>How about?</h2>
        <p>
            Quisque vel lorem velit. Aliquam bibendum ante vitae purus volutpat, id varius sem aliquet. Aliquam dignissim blandit erat at venenatis. Nullam cursus magna arcu, quis hendrerit elit sollicitudin ut. Nam at massa commodo, sollicitudin erat a, suscipit massa. Fusce ornare placerat molestie. Suspendisse magna dolor, dictum vitae ultricies a, ultrices ac dui. Maecenas hendrerit porttitor pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec hendrerit tellus a dolor accumsan, vel laoreet quam porta.
        </p>
        <p>
            Suspendisse convallis massa vel facilisis vestibulum. Vivamus nibh risus, congue in molestie vel, vulputate pharetra velit. Cras ac risus venenatis, dictum dui porttitor, elementum diam. Curabitur interdum est vitae blandit pharetra. Donec luctus quis ligula volutpat ultricies. Mauris molestie bibendum nisi, at sollicitudin tortor congue vitae. Curabitur nisl justo, dapibus in facilisis a, aliquet id ante. Nunc ullamcorper libero nulla, quis convallis orci feugiat ac. Fusce condimentum varius nulla, sit amet pulvinar diam ullamcorper sed. Aenean facilisis sed nibh ut congue. Etiam pretium sed dui eu consectetur. Maecenas id lacus justo.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam eu sollicitudin orci. Fusce elit ipsum, feugiat eu pulvinar ut, vulputate cursus dolor. Morbi vestibulum lorem sed nibh dignissim, eget pharetra lorem pellentesque. Vestibulum sagittis vestibulum orci, ut accumsan nunc bibendum ut. In congue dolor sed lacus congue, ac finibus ipsum laoreet. Quisque sapien nibh, imperdiet a imperdiet vel, efficitur
        </p>
    </div>
</div>